@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
/* 尾部 */
footer{
    height: 110px;
    background: black;
    margin-top: 50px;
    padding-top: 35px;
    box-sizing: border-box;
}
.aboutwe{
margin-left: 65px;
}
.aboutwe ul{
list-style: none;
display: flex;
}
.aboutwe ul li{
    padding-left: 30px;
}
.aboutwe ul li a{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 14px;
}
.aboutwe p{
    color: #555;
    margin-top: 10px;
    margin-left: 35px;
    font-size: 10px; 
}
.aboutwe p span{
    color: #999;
    margin-left: 20px;
}
.aboutwe p span:hover{
    cursor: pointer;
    color: red;
}