@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
/* 头部 */
header{
    height: 70px;
    background: #C3C6CA;
}
header .nav{
height: 70px;
background: #353535;
display: flex;
}
.nav-l{
margin-left: 80px;
}
.nav-c{
margin-left: 120px;
}
.nav-c ul{
    list-style: none;
    display: flex;
}
.nav-c ul li{
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 10px;
}
.nav-c ul li a{
    text-decoration: none;
    line-height: 60px;
    color: #C3C6CA;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    font-size: 15px;
}
/* 单车 */
.nav-c ul .dcfl .danche{
    background: #000;
    width: 150px;
    height: 222px;
    position: absolute;
    top: 70px;
    z-index: 5;
    display: none;
}
.nav-c ul .dcfl .danche div,.nav-c ul .qixing .qx{
    width: 150px;  
    height: 30px;
}
.nav-c ul .dcfl .danche a,.nav-c ul .qixing .qx a{
    margin-left: 10px;
    color: #777;
    font-size: 10px;
    width: 150px;  
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
.nav-c ul .dcfl:hover,.nav-c ul .qixing:hover{
    background: #777;
}
.nav-c ul .dcfl:hover .danche,.nav-c ul .qixing:hover .qx{
    display: block;
}
.nav-c ul .dcfl .danche div:hover,.nav-c ul .qixing .qx div:hover {
    background: #777;
    opacity: .5;
}
.nav-c ul .dcfl .danche div:hover a,.nav-c ul .qixing .qx div:hover a{
    color: #01A1ED;
}
/* 骑行 */
.nav-c ul .qixing .qx{
    background: #000;
    width: 150px;
    height: 63px;
    position: absolute;
    top: 70px;
    z-index: 5;
    display: none;
}


/* 选中 */
.nav-c ul li:hover .a{
    color: #01A1ED;
}
.nav-r{
    width: 200px;
    height: 32px;
    display: flex;
    margin-top: 20px;

}

.nav-r  input{
    margin-left: 250px;
    width: 173px;
    height: 30px;
    background: #000;
    color: #999999;
    border: .5px solid #666;
    box-sizing: border-box;
    text-indent: 1em;
}
.nav-r .tu img:hover{
    cursor: pointer;
}
/* 轮播图左边 */
header .banner{
    width: 86%;
    height: 430px;
    margin: 40px auto;
    position: relative;
}
header .banner .banner-l{
    float: left;
    width: 880px;
    height: 430px;
    overflow: hidden;
}
header .banner .banner-l ul{
    list-style: none;
    width: 4400px;
    height: 430px;
    animation: all 10s linear infinite;
}
header .banner .banner-l ul li{
    width: 880px;
    height: 430px;
    float: left;
}
header .banner .banner-l ul li img{
    width: 880px;
    height: 430px;
}

@keyframes all{
    0%{
        transform: translate( 0px);
    }
    100%{
        transform: translate(-3520px);
    }
}
 
header .banner .banner-r{
    float: right;
    height: 430px;
    width: 255px;
    overflow: hidden;
}
header .banner .banner-r .img{
    height: 385px;
    width: 255px;
    background: url(../Image/1-140206160415Y6.jpg);
}
header .banner .banner-r p{
    height: 45px;
    width: 255px;
    background-color: #01A1ED;
    cursor: pointer;
    line-height: 45px;
    text-indent: 35px;
    color: white;
    font-size: 14px;
}


/* 内容 */
.content{
    width: 100%;
    background: #dedede;
    padding-top: 40px;
    box-sizing: border-box;
}
.content .box{
    width: 81%;
    margin: 0 auto;
    border: 1px solid #dedede;
}
.content .box ul{
    list-style: none;
    border: 1px solid #dedede;
    overflow: hidden;
}
.content .box ul li{
    float: left;
    width: 340px;
    height: 300px;
    margin-left: 15px;
    margin-top: 15px;
    background: #fff;
}
.content .box  ul li img{
    width: 316px;
    height: 188px;
    margin-left: 11px;
    margin-top: 15px;
}
.content .box ul li :nth-child(2){
    color: #777;
    font-size: 12px;
    margin: 10px 0 10px 10px ;
}
.content .box ul li :nth-child(3){
    color: #444;
    font-size: 14px;
    margin: 10px 0 10px 10px ;
    line-height: 25px;
}
.content.box  ul li :nth-child(3):hover{
    color: red;
}
/* 页 */
.ye-box{
    overflow: hidden;
}
.ye{
    display: flex;
   float: right;
   margin:20px  150px 30px 0;
   font-size: 12px;
}
.ye ul{
    list-style: none;
    display: flex;
}
.ye ul li{
    padding: 0 5px;
    margin-left: 10px;
    border: 1px solid #999;
    font-size: 12px;
    cursor: pointer;
}
.ye ul :first-child{
    background: #000;
    color: white; 
}
.ye ul li:hover{
    background: #000;
    color: white;   
}
.ye span{
    margin-left: 10px;
}





