@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background: whitesmoke;
}
header{
    height: 70px;
    background: #C3C6CA;
}
header .nav{
height: 70px;
background: #353535;
display: flex;
}
.nav-l{
margin-left: 80px;
}
.nav-c{
margin-left: 120px;
}
.nav-c ul{
    list-style: none;
    display: flex;
}
.nav-c ul li{
    margin-left: 30px;
}
.nav-c ul li a{
    text-decoration: none;
    line-height: 70px;
    color: #C3C6CA;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    font-size: 15px;
}
/* 单车 */
.nav-c ul .dcfl .danche{
    background: #000;
    width: 150px;
    height: 222px;
    position: absolute;
    top: 70px;
    z-index: 5;
    display: none;
}
.nav-c ul .dcfl .danche div,.nav-c ul .qixing .qx{
    width: 150px;  
    height: 30px;
}
.nav-c ul .dcfl .danche a,.nav-c ul .qixing .qx a{
    margin-left: 10px;
    color: #777;
    font-size: 10px;
    width: 150px;  
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
.nav-c ul .dcfl:hover .danche ,.nav-c ul .qixing:hover .qx{
    display: block;
}
.nav-c ul .dcfl .danche div:hover,.nav-c ul .qixing .qx div:hover {
    background: #777;
    opacity: .5;
}
.nav-c ul .dcfl .danche div:hover a,.nav-c ul .qixing .qx div:hover a{
    color: #01A1ED;
}
/* 骑行 */
.nav-c ul .qixing .qx{
    background: #000;
    width: 150px;
    height: 63px;
    position: absolute;
    top: 70px;
    z-index: 5;
    display: none;
}


/* 选中 */
.nav-c ul li:hover .a{
    color: #01A1ED;
}
.nav-r{
    width: 200px;
    height: 32px;
    display: flex;
    margin-top: 20px;

}

.nav-r  input{
    margin-left: 250px;
    width: 173px;
    height: 30px;
    background: #000;
    color: #999999;
    border: .5px solid #666;
    box-sizing: border-box;
    text-indent: 1em;
}
.nav-r .tu img:hover{
    cursor: pointer;
}
.main{
    width: 80%;
    height: 1500px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.main-box{
    width: 70%;
    border-right: 1px solid black;
}
.main-box .main-list p{
    font-size: 13px;
}
.main-box .main-list span{
    color: slategrey;
}
.main-box .main-list a{
    text-decoration: none;
    color: black;
}
.main-box .main-list a:hover {
    color: aqua;
}
.main .main-box .title{
    width: 100%;
    height: 40px;
    padding-top: 40px;
}
.main-box .title h1{
    font-size: 22px;
}
.main-box .time{
    padding-bottom: 30px;
}
.main-box .time span{
    font-size: 12px;
}
.main-box .article {
    width: 90%;
    height: 120px;
    padding-top: 100px;
}
.main-box .article span{
    font-size: 14px;
    line-height: 30px;
    color: #999999;
}
.main-box .vidio {
    width: 90%;
    height: 500px;
    border: 1px solid wheat;
    background: white;
}
.main-box .share {
    width: 100px;
    height: 50px;
    position: relative;
    left: 650px;
    padding-top: 300px;
}
.main-box .share span{
    font-size: 12px;
    color: #999999;
}
.main-box .like {
    width: 150px;
    height: 30px;
    padding-top: 20px;
}
.main-box .like h1{
    font-size: 16px;
}
.main-box .speak {
    padding-top: 30px;
}
.main-box .speak span {
    font-size: 13px;
    color: #999999;
}
.cebian-box {
    width: 30%;
    padding-top: 50px;
}
.cebian-box .zan {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
}
.cebian-box .zan .img{
    position: relative;
    left: 10px;
    top: 10px;
}
.cebian-box .zan .text{
    width: 35px;
    height: 50px;
    position: relative;
    left: 20px;
    top: 30px;
}
.cebian-box .zan .text span {
    font-size: 20px;
    columns: #999999;
}
.cebian-box .zan img:hover{
    background: url("../img/images/like2.png");
    cursor: pointer;
}
.cebian-box .img2 {
    width: 250px;
    height: 50px;
    margin-left: 30px;
}
.cebian-box .news {
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin:auto;
    border-bottom: 1px dotted silver;
    display: flex;
}
.cebian-box .news .img3{
    width: 100px;
    height: 60px;
    padding-top: 50px;
}
.cebian-box .news img{
    width: 100px;
    height: 60px;
}
.cebian-box .news .section{
    width: 150px;
    height: 60px;
    margin-top: 40px;
    margin-left: 20px;
}
.cebian-box .news .section p{
    font-size: 13px;
    line-height: 25px;
}
.news .section a{
    text-decoration: none;
    color: black;
}
.news .section a:hover{
    color: red;
}
.cebian-box .tougao {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    margin-left: 31px;
}
.cebian-box .tougao img{
    width: 300px;
}
.foot {
    width: 100%;
    height: 100px;
    background: black;
}
.foot .foot-box{
    width: 500px;
    height: 80px;
    position: relative;
    left: 200px;
}
.foot .foot-box ul{
    list-style-type: none;
    display: flex;
}
.foot .foot-box ul li{
    margin-right: 10px;
    margin-top: 20px;
}
.foot .foot-box ul a{
    font-size: 12px;
    text-decoration: none;
    color: #0be;
}
.foot .foot-box span{
    font-size: 12px;
    color: #555555;
}
.foot .foot-box a{
    text-decoration: none;
    color: #999;
}
.foot .foot-box .beian{
    width: 500px;
    height: 50px;
    margin-left: 40px;
}
.foot .foot-box ul a:hover{
    color: white;
}
.foot .beian a:hover{
    color: red;
}