@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.content  .content-bottom{
    width: 86%;
    margin: 30px auto;
    border-top: 10px solid black;
}
.content-bottom .site{
margin: 10px 0;
font-weight: bold;
font-size: 30px
}
.content-bottom .ul{
    list-style: none;
    display: flex;
}
.content-bottom ul li a{
    text-decoration: none;
    color: black;
}
/* 横着的ul li */
.content-bottom .lei ul li{
  padding-left: 10px;
}
.content-bottom .lei ul .li .heng{
    font-size: 10px;
    color: black;
    font-weight: bold;
}
.content-bottom ul .li{
   width: 160px;
   height: 210px;
   border-left: 1px solid #777;
}
.content-bottom ul .li a:hover{
    text-decoration: underline;
}
/* 单车分类 */
.dc ul li,.qx ul li,.about ul li{
    margin: 10px 0px 0px 20px;
    font-size: 6px;
    color: #777;
}
.dc ul li a:hover,.qx ul li a:hover,.about ul li a:hover{
   text-decoration: underline;
}

/* 关于 */
.content-bottom .lei .about-li{
   width: 276px;
}
/* 微信 */
.ewm img{
    margin-top: 10px;
    width: 101px;
    height: 120px;
}
